language: node_js
node_js:
  - 12.18.3
cache: npm



install:
  - npm install -g firebase-tools
  - npm install

script:
  - npm test
  - CI=false npm run build


after_success:
  - firebase deploy --token $FIREBASE_TOKEN
