.App {
font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media screen and (min-width: 1024px){
.App {
max-width: 64rem;
}
}
@media screen and (max-width:1023px){
.App {
max-width: 24rem;
}
}

html{
  background-color: #101727;
  font-family: 'Roboto', sans-serif;

}
